<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <div class="header">

        @*<div class="login">
            <partial name="_LoginStatusPartial" />
        </div>*@

        <nav>
            <a class="nav-link text-dark" asp-area="" asp-page="/Index"><img src="/Synfiles/Logo.png" /></a>
            <div class="nav-links">
                <ul>
                    <li><a class="nav-link text-dark" asp-area="" asp-page="/Index">HOME</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-page="/blog">blog</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-page="/About">ABOUT</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-page="/Contact">CONTACT</a></li>

                    @*@if (User.Identity.Name == "Ismail")
                    {
                        <li><a class="nav-link text-dark" asp-area="" asp-page="/AddPostAdmin">ADMIN</a></li>
                    }*@

                    <li><a class="nav-link text-dark" asp-area="" asp-page="/Profile">MY PROFILE</a></li>
                </ul>
            </div>
        </nav>

        <div class="text-box">
            <h1>@ViewData["PageTitle"]</h1>
            <p>@ViewData["PageIntro"]</p>
            <p class="access-denied">@ViewData["AccessDenied"]</p>
            <p class="access-denied">@ViewData["description"]</p>

        </div>
    </div>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <h4>About Us</h4>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero voluptate
            ipsa aperiam velit inventore nobis.<br />Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Suscipit cumque culpa asperiores quaerat
            quia et alias illo qui, quos, quas quod deleniti a, incidunt odio!
        </p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
