@page
@model Synthesis_Assignment_Web_App.Pages.BookModel
@using SynthesisAssignment.Services;
@using SynthesisAssignment.Models;
@{
    ViewData["Title"] = "Book";
}

<!--  cover image  -->
<div class="book-cover-img">

    @*<div class="book-now-box">
            <a href="" class="hero-btn">Book Now</a>
        </div>*@

    @*<form class="book-filter" action="/" method="post">
            <div class="form-fields">
                <label for="date">Start date:</label>
                <input type="date" id="date" placeholder="dd/MM/yyyy" name="date">
                <label for="date">End date:</label>
                <input type="date" id="date" placeholder="dd/MM/yyyy" name="date">
                <button class="filter-button" type="submit">Check Availability</button>
            </div>
        </form>*@
</div>

<!--  to display date  -->
@*<input type="date" value="@string.Format("{0:yyyy-MM-dd}", Model.Quote.StartDate)" />*@

<!--  ADD NEW QUOTES  -->
@if (Model.QuoteToUpdate == null)
{
    <!------ Item1 - Booking form ------->
    <div class="item1-intro">
        <h1>Select your preferences and book</h1>
    </div>


    <!--  Title  -->
    @if (!string.IsNullOrEmpty(@Model.Notification))
    {
        <h2 class="valid-duration">@Model.Notification</h2>
    }


    <div class="post-col">
        <!-- Refers to the whole form combination-->
        <form class="booking-form" method="post">

            <!--  Boat type  -->
            <h2 class="boats-title">Choose a boat *</h2>
            <select required asp-for="Quote.Boat.BoatType" asp-items="@(new SelectList(Model.GearList.OfType<Boat>().ToList(), "BoatType", "BoatType"))">
                <option value="" selected disabled>-- Select Boat --</option>
            </select>

            <!--  boat Quantity  -->
            <h2 class="boats-title">Choose quantity *</h2>
            <input required type="number" asp-for="Quote.Boat.Quantity"
                   placeholder="Boat Quantity" />

            <!--  item type  -->
            <h2 class="boats-title">Choose item (Optional)</h2>
            <select asp-for="Quote.Item.ItemType" asp-items="@(new SelectList(Model.GearList.OfType<Item>().ToList(), "ItemType", "ItemType"))">
                <option value="" selected disabled>-- Select Item --</option>
            </select>

            <!--  item Quantity  -->
            <h2 class="boats-title">Choose quantity (Optional)</h2>
            <input type="number" asp-for="Quote.Item.Quantity"
                   placeholder="Item Quantity" />

            <!--  start date  -->
            <h2 class="boats-title">Choose start and end dates *</h2>
            <div class="quote-dates">
                <label for="date">Start date & time:</label>
                @Html.TextBoxFor(Model => Model.Quote.StartDateTime, new { type = "datetime-local" })

                <!--  end date  -->
                <label for="date">End date & time:</label>
                @Html.TextBoxFor(Model => Model.Quote.EndDateTime, new { type = "datetime-local" })
            </div>

            <!--  location  -->
            <h2 class="boats-title">Choose location</h2>
            <select asp-for="Quote.Location" asp-items="@(new SelectList(Model.Locations, "location"))">
                <option value="" selected disabled>-- Select Location --</option>
            </select>

            <!--  Submit button  -->
            <input id="Submit1" type="submit" value="Add My Selections" />
        </form>
    </div>

}

else if (Model.QuoteToUpdate != null)
{
    <!------ UPDATE RESERVATION ------->
    <div class="item1-intro">
        <h1>Update your reservation</h1>
    </div>


    <!--  Title  -->
    @if (!string.IsNullOrEmpty(@Model.Notification))
    {
        <h2 class="valid-duration">@Model.Notification</h2>
    }


    <div class="post-col">
        <!-- Refers to the whole form combination-->
        <form class="booking-form" method="post">

            <!--  Boat type  -->
            <h2 class="boats-title">Choose a boat *</h2>
            <label>Your current choice is: "@Model.QuoteToUpdate.Boat.BoatType"</label>
            <select required asp-for="Quote.Boat.BoatType" asp-items="@(new SelectList(Model.GearList.OfType<Boat>().ToList(), "BoatType", "BoatType"))">
                <option value="" selected disabled>-- Select Boat --</option>
            </select>

            <!--  boat Quantity  -->
            <h2 class="boats-title">Choose quantity *</h2>
            <label>Your current choice is: "@Model.QuoteToUpdate.Boat.Quantity"</label>
            <input required type="number" asp-for="Quote.Boat.Quantity"
                   placeholder="Boat Quantity" />

            <!--  item type  -->
            <h2 class="boats-title">Choose item (Optional)</h2>
            <label>Your current choice is: "@Model.QuoteToUpdate.Item.ItemType"</label>
            <select asp-for="Quote.Item.ItemType" asp-items="@(new SelectList(Model.GearList.OfType<Item>().ToList(), "ItemType", "ItemType"))">
                <option value="" selected disabled>-- Select Item --</option>
            </select>

            <!--  item Quantity  -->
            <label>Your current choice is: "@Model.QuoteToUpdate.Item.Quantity"</label>
            <h2 class="boats-title">Choose quantity (Optional)</h2>
            <input type="number" asp-for="Quote.Item.Quantity"
                   placeholder="Item Quantity" />

            <!--  start date  -->
            <h2 class="boats-title">Choose start and end dates *</h2>
            <div class="quote-dates">
                <label for="date">Start date & time:</label>
                <label>Your current choice is: "@Model.QuoteToUpdate.StartDateTime.ToString("dd/MM/yyyy HH.mm")"</label>
                @Html.TextBoxFor(Model => Model.Quote.StartDateTime, new { type = "datetime-local" })

                <!--  end date  -->
                <label for="date">End date & time:</label>
                <label>Your current choice is: "@Model.QuoteToUpdate.EndDateTime.ToString("dd/MM/yyyy HH.mm")"</label>
                @Html.TextBoxFor(Model => Model.Quote.EndDateTime, new { type = "datetime-local" })
            </div>

            <!--  location  -->
            <h2 class="boats-title">Choose location *</h2>
            <label>Your current choice is: "@Model.QuoteToUpdate.Location"</label>
            <input required type="text" asp-for="Quote.Location"
                   placeholder="Location" />

            <span>* Required fields</span>

            <!--  Submit button  -->
            <input id="Submit1" type="submit" asp-page-handler="UpdateQuote" value="Add My Selections" />
        </form>
    </div>

}



