@page
@model Synthesis_Assignment_Web_App.Pages.ConfirmationPageModel
@using SynthesisAssignment.MyClasses.Classes;
@{
    ViewData["Title"] = "Confirm Booking";
}

<div class="confirm-logo">
    <img src="/Synfiles/Logo.png" />
</div>

<main class="confirm-body">
    <div class="quote-info">
        <div class="align-left">
            <h2>Rental Quote</h2>
            <span>Date @Model.Quote.DateTimeOfMade.ToString("d/M/yyyy")</span>
            <span>Reference No. @Model.Quote.RefNumber</span>
            <span>Location @Model.Quote.Location</span>
            <span>Start @Model.Quote.StartDateTime.ToString("dd/MM/yyyy") at @Model.Quote.StartDateTime.ToString("HH.mm")</span>
            <span>End @Model.Quote.EndDateTime.ToString("dd/MM/yyyy") at @Model.Quote.EndDateTime.ToString("HH.mm")</span>
        </div>

        <div class="align-right">
            <h2>Customer</h2>
            <span>Name @Model.Quote.Customer.FirstName @Model.Quote.Customer.LastName</span>
            <span>Address @Model.Quote.Customer.Address</span>
            <span>Zipcode & City @Model.Quote.Customer.Zipcode @Model.Quote.Customer.City</span>
            <span>Phone @Model.Quote.Customer.Phone</span>
            <span>Email @Model.Quote.Customer.Email</span>
        </div>
    </div>


    <table class="quote-description">
        <tr>
            <!-- first row -->
            <th>Description</th>
            <th>Quantity</th>
            <th>Duration (h)</th>
            <th>Unit Price (2h)</th>
            <th>Price</th>
        </tr>

        <tr>
            <!-- 2nd row -->
            <th>@Model.Quote.Boat.BoatType</th>
            <th>@Model.Quote.Boat.Quantity</th>
            <th>@Model.BoatValidDuration</th>
            <th>@Model.BoatUnitPrice</th>
            <th>@Model.BoatPrice</th>
        </tr>

        <tr>
            <!-- 3rd row -->
            <th>@Model.Quote.Item.ItemType</th>
            <th>@Model.Quote.Item.Quantity</th>
            <th>@Model.ItemValidDuration</th>
            <th>@Model.ItemUnitPrice</th>
            <th>@Model.ItemPrice</th>
        </tr>
    </table>

    <span>Total: €@Model.TotalPrice</span>

    <h2>Quote terms</h2>
    <span class="quote-terms">
        Note that when retrieving the boat at the rental location you are required to first transfer a deposit of €@Model.TotalDeposit.
    </span>


    @if (HttpContext.Session.GetObjectFromJson<Quote>("Quote") != null)
    {
        <h2>Please sign and confirm booking</h2>
        <form class="checkbox-booking" method="post">
            Checkbox: <input type="checkbox" id="myCheck" name="test" required>
            <input class="submit-booking" type="submit" asp-page-handler="Confirm" value="Confirm Booking" />
        </form>
    }
    else if (Model.RentalInMoreThanWeek)
    {
        <form class="update-reservation" method="post">
            <input class="submit-update" type="submit" asp-page-handler="Update" value="Update Reservation" />
            <input class="submit-update" type="submit" asp-page-handler="Cancel" value="Cancel Reservation" />
        </form>
    }

</main>

