@page
@model Synthesis_Assignment_Web_App.Pages.CustomerDetailsModel
@{
}

@if (Model.QuoteToUpdate == null)
{
    <!------ Item1 - Booking form ------->
    <div class="item1-intro">
        <h1>Please enter your contact details</h1>
    </div>


    <!--  Title  -->
    <!--  <h2 class="boats-title">Our Collection</h2>  -->

    <div class="post-col">
        <!-- Refers to the whole form combination-->
        <form class="booking-form" method="post">

            <!--  Customer details  -->
            <span class="dataV" asp-validation-for="Quote.Customer.FirstName"></span>
            <input type="text" asp-for="Quote.Customer.FirstName"
                   placeholder="Enter firstname" />

            <span class="dataV" asp-validation-for="Quote.Customer.LastName"></span>
            <input type="text" asp-for="Quote.Customer.LastName"
                   placeholder="Enter lastname" />

            <span class="dataV" asp-validation-for="Quote.Customer.Address"></span>
            <input type="text" asp-for="Quote.Customer.Address"
                   placeholder="Enter address" />

            <span class="dataV" asp-validation-for="Quote.Customer.Zipcode"></span>
            <input type="text" asp-for="Quote.Customer.Zipcode"
                   placeholder="Enter Zipcode" />

            <span class="dataV" asp-validation-for="Quote.Customer.City"></span>
            <input type="text" asp-for="Quote.Customer.City"
                   placeholder="Enter city" />

            <span class="dataV" asp-validation-for="Quote.Customer.Phone"></span>
            <input type="tel" asp-for="Quote.Customer.Phone"
                   placeholder="Enter phone" />

            <span class="dataV" asp-validation-for="Quote.Customer.Email"></span>
            <input type="email" asp-for="Quote.Customer.Email"
                   placeholder="Enter email" />

            <!--  Submit button  -->
            <input id="Submit1" type="submit" value="Add Contact Details" />
        </form>
    </div>

}

else if (Model.QuoteToUpdate != null)
{
    <!------ UPDATE CUSTOMER DETAILS ------->
    <div class="item1-intro">
        <h1>Update your contact details</h1>
    </div>

    <div class="post-col">
        <!-- Refers to the whole form combination-->
        <form class="booking-form" method="post">

            <!--  Customer details  -->
            <label>Your current choice is: "@Model.QuoteToUpdate.Customer.FirstName"</label>
            <span class="dataV" asp-validation-for="Quote.Customer.FirstName"></span>
            <input type="text" asp-for="Quote.Customer.FirstName"
                   placeholder="Enter firstname" />

            <label>Your current choice is: "@Model.QuoteToUpdate.Customer.LastName"</label>
            <span class="dataV" asp-validation-for="Quote.Customer.LastName"></span>
            <input type="text" asp-for="Quote.Customer.LastName"
                   placeholder="Enter lastname" />

            <label>Your current choice is: "@Model.QuoteToUpdate.Customer.Address"</label>
            <span class="dataV" asp-validation-for="Quote.Customer.Address"></span>
            <input type="text" asp-for="Quote.Customer.Address"
                   placeholder="Enter address" />

            <label>Your current choice is: "@Model.QuoteToUpdate.Customer.Zipcode"</label>
            <span class="dataV" asp-validation-for="Quote.Customer.Zipcode"></span>
            <input type="text" asp-for="Quote.Customer.Zipcode"
                   placeholder="Enter Zipcode" />

            <label>Your current choice is: "@Model.QuoteToUpdate.Customer.City"</label>
            <span class="dataV" asp-validation-for="Quote.Customer.City"></span>
            <input type="text" asp-for="Quote.Customer.City"
                   placeholder="Enter city" />

            <label>Your current choice is: "@Model.QuoteToUpdate.Customer.Phone"</label>
            <span class="dataV" asp-validation-for="Quote.Customer.Phone"></span>
            <input type="tel" asp-for="Quote.Customer.Phone"
                   placeholder="Enter phone" />

            <label>Your current choice is: "@Model.QuoteToUpdate.Customer.Email"</label>
            <span class="dataV" asp-validation-for="Quote.Customer.Email"></span>
            <input type="email" asp-for="Quote.Customer.Email"
                   placeholder="Enter email" />

            <!--  Submit button  -->
            <input id="Submit1" type="submit" asp-page-handler="UpdateContactDetails" value="Update Contact Details" />
            <input id="Submit1" type="submit" asp-page-handler="DontChangeContactDetails" value="Don't Change My Contact Details" />
        </form>
    </div>
}
