@page
@model IndexModel
@using SynthesisAssignment.Services;
@{
    ViewData["Title"] = "Home page";
}

<!--  cover image  -->
<div class="index-cover-img">

    <div class="text-box">
        <h1>Welcome to 't Sloepke</h1>
        <p>
            Book a boat anywhere in The Netherlands
        </p>
    </div>
</div>

<!------ Item1 - little Intro ------->
<div class="item1-intro">
    <h1>Your Boat Is Waiting</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Fuga alias voluptatem magnam quos eligendi earum quia harum
        quidem impedit itaque excepturi
    </p>
</div>


<!------ Item2 - BOATS ------->
<div class="item1-intro">
    <h1 class="display-4">Our Boat Collection</h1>
</div>

<div class="item-collection">
    <table>
        <tr>
            <th>Boat type</th>
            <th>Capacity</th>
            <th>Cost</th>
            <th>Deposit</th>
            <th>Quantity</th>
            <th>Remark</th>
        </tr>
        @foreach (var b in Model.Gear.OfType<Boat>().ToList())
        {
            <tr>
                <th>@b.BoatType</th>
                <th>@b.Capacity</th>
                <th>€@b.Cost</th>
                <th>€@b.Deposit</th>
                <th>@b.Quantity</th>
                <th>@b.Remark</th>
            </tr>
        }
    </table>
</div>


<!------ Item2 - ITEMS ------->
<div class="item1-intro">
    <h1 class="display-4">Our Items Collection</h1>
</div>

<div class="item-collection">
    <table>
        <tr>
            <th>Item type</th>
            <th>Cost</th>
            <th>Deposit</th>
            <th>Quantity</th>
            <th>Remark</th>
        </tr>
        @foreach (var item in Model.Gear.OfType<Item>().ToList())
        {
            <tr>
                <th>@item.ItemType</th>
                <th>€@item.Cost</th>
                <th>€@item.Deposit</th>
                <th>@item.Quantity</th>
                <th>@item.Remark</th>
            </tr>
        }
    </table>
</div>

